.navbar {
    display: flex;
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    width: 35%;
}

.profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
}