.navbar {
    display: flex;
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid grey;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}